@media (max-width: 700px) {
    .conteiner {
        flex-direction: column;
        align-items: center;
    }

    .conteiner .texto, .titulo {
        text-align: center;
    }
    
}

@media (max-width: 365px) {
    .conteiner .bloco-formulario {
        height: 62%;
        width: 90%;
    }

    .conteiner .bloco-formulario .formulario .campos .bordas {
        width: 90%;
        align-self: center;
    }

    .conteiner .bloco-formulario .formulario .botao {
        text-align: center;
    }

    .conteiner .bloco-formulario .formulario .botao button {
        width: 90%;
    }
}